html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: #000;
}

body {
  color: #fff;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  touch-callout: none;
  text-size-adjust: none;
  -webkit-user-select: none;
}

.menu {
  display: block;
  padding: 0;
}

.menu--uninitialized {
  display: none;
}


.menu + .menu {
  margin-top: 2em;
}

.menu__caption {
  display: block;
  font-size: 0.8em;
  background-color: #555;
  padding: 0.7em;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 0.25em 0.25em 0 0;
}

.menu__item {
  display: flex;
  flex-flow: row wrap;
  text-decoration: none;
  color: inherit;
  line-height: 23px;
  padding: 1em;
  border-bottom: 1px solid #555;
  touch-callout: none;
}

.menu__item:last-child {
  border-bottom: 0 none;
}

.menu__item--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.menu__item--hidden {
  display: none;
}

.menu__icon {
  margin-right: 1em;
}

.menu__text {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu__left {
  flex: 1;
  text-align: left;
  margin-right: 0.5em;
}

.menu__right {
  flex: 1;
  text-align: right;
  margin-left: 0.5em;
}

.menu__help {
  flex: none;
  width: 100%;
  text-align: left;
  color: #aaa;
  font-size: 0.8em;
  line-height: 1.5em;
  margin-top: 1em;
}

.menu__hint {
  color: #aaa;
  font-size: 0.8em;
  line-height: 1.5em;
}

@keyframes message {
  0% { opacity: 0; }
  10% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; }
}

.messages {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}

.message {
  margin: 1em;
  padding: 1em;
  background: #4f9e62;
  opacity: 0;
  border-radius: 0.15em;
  animation: message 3s;
}
