.setting--uninitialized {
  display: none;
}

.setting--dropdown {
  display: inline-block;
  border: 0 none;
  line-height: 23px;
  padding: 0.4em 0.5em;
  margin: -0.4em 0;
  background: #444;
  border-radius: 0.15em;
  color: #fff;
}

.setting--uninitialized {
  display: none;
}
